@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Poppins:wght@300;400;500;600&family=Varela+Round&display=swap');

*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #eaeaea;
}

.container-nav{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.container-nav a{
    margin: 5px 10px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: #333;
}

.container-nav a:hover{
    cursor: pointer;
}